<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservationItem">
            <h2><span jhiTranslate="reservationsystemApp.reservationItem.detail.title">Reservation Item</span> {{reservationItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="reservationsystemApp.reservationItem.reservationItemName">Reservation Item Name</span></dt>
                <dd>
                    <span>{{reservationItem.reservationItemName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservation-item-my-suffix', reservationItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
